//---------------------------------------------------------------
//                            MVA
//---------------------------------------------------------------

MAP:Summer MVA
FOLDER:MVA
COLOR:mva
STYLE:Solid:1
{{ data.mva_summer }}

MAP:Winter MVA
FOLDER:MVA
COLOR:mva
STYLE:Solid:1
{{ data.mva_winter }}