//---------------------------------------------------------------
//                            Airspace
//---------------------------------------------------------------

MAP:Airspace | Labels
FOLDER:Labels
COLOR:standard
LAYER:+4
ZOOM:10
{{ data.airspace_labels }}

MAP:Airspace C
FOLDER:Airspace
COLOR:standard
ACTIVE:1
{{ data.airspace_c }}

MAP:Airspace D
FOLDER:Airspace
COLOR:standard
ACTIVE:1
{{ data.airspace_d }}

MAP:Airspace E
FOLDER:Airspace
COLOR:standard
{{ data.airspace_e }}

MAP:TMZ/RMZ
FOLDER:Airspace
COLOR:standard
ACTIVE:1
{{ data.airspace_tmz_rmz }}