//---------------------------------------------------------------
//                            Airspace
//---------------------------------------------------------------

MAP:Labels
FOLDER:Airspace
COLOR:standard
LAYER:+4
{{ data.airspace_labels }}

MAP:Airspace C
FOLDER:Airspace
COLOR:standard
ACTIVE:1
{{ data.airspace_c }}

MAP:Airspace D(CTR)
FOLDER:Airspace
COLOR:standard
ACTIVE:1
{{ data.airspace_d_ctr }}

MAP:Airspace D
FOLDER:Airspace
COLOR:standard
ACTIVE:1
{{ data.airspace_d }}

MAP:Airspace E
FOLDER:Airspace
COLOR:standard
{{ data.airspace_e }}

{{ data.airspace_tmz_rmz }}

{{ data.airspace_special }}