//---------------------------------------------------------------
//                            Sectors
//---------------------------------------------------------------

MAP:FIS Sektor + Squawks
FOLDER:FIS
COLOR:Text
STYLE:Solid:1
{{ data.fis_sectors }}