//---------------------------------------------------------------
//                            Sectors
//---------------------------------------------------------------

MAP:FIS Sectors + Squawks
FOLDER:FIS
COLOR:Text
STYLE:Solid:1
LAYER:+1
{{ data.fis_sectors }}