//---------------------------------------------------------------
//                            Sectors
//---------------------------------------------------------------

MAP:FIS Sektor + Squawks
FOLDER:FIS
COLOR:Text
STYLE:Solid:1
LAYER:+1
{{ data.fis_sectors }}

MAP:FIS Sektor + Squawks
FOLDER:FIS
COLOR:Text
STYLE:Solid:1
LAYER:+1
{{ data.external_fis_sectors }}